MONGODB_URI=ADD_YOUR_MONGODB_URI
NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
GOOGLE_CLIENT_ID=ADD_YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=ADD_YOUR_GOOGLE_CLIENT_SECRET
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=secret
CLOUDINARY_CLOUD_NAME=ADD_YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=ADD_YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=ADD_YOUR_CLOUDINARY_API_SECRET
NEXT_PUBLIC_MAPBOX_TOKEN=ADD_YOUR_OWN
NEXT_PUBLIC_GOOGLE_GEOCODING_API_KEY=ADD_YOUR_OWN

# you can generate a secret using openssl rand -base64 32